.menu {
  height: 48px;

  .menuButton {
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 0.5em 0 0.75em;
  }

  .active {
    background: #192028;
  }

  span {
    color: #fff;
  }

  li,
  a {
    display: flex;
    color: #fff;
  }

  img {
    width: 20px;
  }

  .nav_lists {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    background: #192028;
  }

}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
