.profileContainer {
  display: flex;
  flex-direction: column;
  height: 48px;
}

.profileButton {
  width: fit-content;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 1em 0 0.5em;

  img {
    width: 40px;
  }
}

.active {
  background: #192028;
}

.dropdown_profile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 48px;
  right: 0;
  padding: 0.4em 0.2em;
  background: #192028;
  padding: 0.75em 1em;

  h2 {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding: 1em;
  }

  ul li a,
  span,
  a {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #dadada;
    font-size: 0.8em;
    font-size: 0.9em;
    column-gap: 0.5em;
  }

  img {
    width: 40px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

@media (min-width: 720px) {
  .profileContainer {
    height: 40px;
    width: fit-content;
    position: relative;
  }

  .dropdown_profile {
    display: flex;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    top: 40px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1em 2em;
    column-gap: 0.5em;

    >div{
      flex: 1 0 fit-content;
    }
  }

  .account {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;

    ul li a,
    a {
      font-weight: 700;
      white-space: nowrap;
    }
  }

  .profile {
    padding: 0;

    ul {
      padding: 0.5em 2em 0.5em 0.5em;
      row-gap: 1em;
    }

    ul li a,
    span,
    a {
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
